.header-left-content img{
    height: 50px!important;
}
.header-right-content h1{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #3f7d20;
}
.header-right-content{
    float: none;
    text-align: center;
}
.header-last-content img{
    height: 50px!important;
    float: right;
}
header.header-area {
    background: #e9e9e9;
}
.menubar .logo {
    padding: 10px 0;
}
.menubar .logo {
    padding: 5px 0;
}
.menubar li a {
    padding: 25px 0;
}
#demo img{
    width: 100%!important;
    height: 350px!important;
}
.inner-div{
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    color: #3f7d20;
}
.inner-div h2{
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.inner-div p{
    margin: 20px 10px;
    text-align: center;
}
.inner-div p a:hover{
    color: #3f7d20;
}
@media screen and (max-width:1024px){
    .inner-div{
        padding: 10px;
    }
    .menubar li{
        padding-right: 10px;
    }
    .inner-div ul li{
        padding: 10px 15px!important;
    }
}
.sec-title h2{
    font-family: 'Poppins', sans-serif!important;
    margin-bottom: 10px;
}
.single-testimonial-box{
    margin-top: 0;
    padding: 10px 40px 20px;
}
.single-testimonial-box span{
    background-color: #77bb17;
    color: #fff;
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 10px;    
}
.single-testimonial-box p{
    margin-top: 10px;
}
.owl-dots {
    margin-top: 10px;
}
.sell-area .owl-prev{
    display: none;
}
.sell-area .owl-next{
    display: none;
}
.sell-area{
    margin-top: 0;
}
.sell-item h5{
    font-weight: 400;
    font-size: 13px;
    font-family: 'Poppins', sans-serif!important;
    padding: 5px;
}
.carousel-caption{
    background-color: black;
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-caption h3{
    font-family: 'Poppins', sans-serif!important;
}
#demo1 img{
    width: 100%!important;
    height: 350px!important;
}
.up_events .inner-div{
    padding-top: 0;
    padding-bottom: 0;
}
.product-list-info-table p{
    margin: 0;
    text-align: left;
}
.product ul.nav.nav-tabs{
    height: 350px;
}
.ptb-40{
    padding: 40px 0;
    background-color: #f9f9f9;
}
@media (min-width: 992px) {
    .ptb-40 .container{
        max-width: 1400px;
    }
    .menubar .container{
        max-width: 1400px;
    }
}
.inner-div h3{
    font-family: 'Poppins', sans-serif!important;
    text-align: center;
}
.inner-div ul{
    text-align: center;
}
.inner-div ul li{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #77bb17;
}
.about .inner-div ul li:hover{
    background-color: #77bb17;
    color: #fff;
}
h5.widget-title{
    font-family: 'Poppins', sans-serif!important;
}
.menubar li {
    padding-right: 20px;
}
.logo img{
    width: 70px!important;
}